@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #fe6433;
  --text-color: #333;
  --text-color-rgb-black: rgba(0, 0, 0, 0.7);
  --transition-primary: all .2s linear;
  --btn-primary: linear-gradient(0, #fe6433, #f53e2d);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  border: none;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
/*Button Style*/
.btn {
  min-width: 142px;
  height: 36px;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: all .1s linear;
}
.btn.btn-primary {
  color: var(--white-color);
  background: var(--primary-color);
}
.btn.btn-disabled {
  color: #ccc;
  cursor: default;
  background: #999;
}
.btn.btn-with-icon {
  padding: 10px
}


/*Animation*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes growthUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  } 
}