* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fff;
}

.main {
  width: 1200px;
  min-height: 100vh;
  max-width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #333;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 48px;
}

/* Article */
h1 {
  line-height: 2rem;
}

article {
  padding: 0 16px;
  line-height: 1.6rem;
}

article img {
  width: 640px;
  max-width: 100%;
  display: block;
  margin: 32px auto;
}

.nav__mobile-btn {
  width: 24px;
  height: 24px;
  display: none;
  /* background: #fff; */
  margin: 0 10px;
}
.nav__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: none;
}
.nav__mobile{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  text-decoration: none;
}
.nav__mobile-list{
  list-style-type: none;
}
.nav__mobile-link{

}
@media screen and (min-width: 1023px) {
  .nav__pc {
    display: none;
  }
  .nav__mobile-btn {
    display: block;
  }
}