.header {
  height: 120px;
  background: linear-gradient(0, #fe6433, #f53e2d)
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
}
.header__item-separator::before {
  content: '';
  background: gray;
  position: absolute;
  right: 0;
  height: 8px;
  display: block;
}
.header__navbar-item,
.header__navbar-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__item-bold {
  font-weight: 500;
}